# Compiled Object files
*.slo
*.lo
*.o

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

.idea
irrlicht-1.8.3
irrnet-code-8
enet-1.2.5
RakNet
*.opensdf
glut-3.7
glew-1.13.0
irrKlang-64bit-1.5.0
